.tab-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 62px;
  background-color: #ffffff;
  border-top: 1px solid #e5e7eb;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
}

@media (min-width: 768px) {
  .tab-bar {
    height: 74px;
  }
}

.tab-item {
  flex: 1;
  text-decoration: none;
  color: #999;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
}

.tab-item span {
  margin-top: 2px;
}

.tab-item.active span {
  color: #2F6FFF;
  font-weight: 600;
}
